{% extends "templates/base.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <form action='/users/login' method='POST' novalidate>
        <input type="hidden" name="{{ csrf.keys.name }}" value="{{ csrf.name }}">
        <input type="hidden" name="{{ csrf.keys.value }}" value="{{ csrf.value }}">
        {% for error in generalErrors %}
            <div class='error'>{{ error }}</div>
        {% endfor %}
        <div>
            <label for="email">Email:</label>
            {% if errors['email'] is defined  %}
                <label class='error'>{{ errors['email'] }}</label>
            {% endif %}
            <input
                id='email'
                type='email'
                name='email'
                {% if old['email'] is defined %} value="{{ old['email'] }}" {% endif %}
            >
        </div>
        <div>
            <label for="password">Password:</label>
            {% if errors['password'] is defined  %}
                <label class='error'>{{ errors['password'] }}</label>
            {% endif %}
            <input id="password" type='password' name='password'>
        </div>
        <div>
            <input type='submit' value='Login'>
        </div>
    </form>
{% endblock %}